html, body, div, iframe,
h1, h2, h3, h4, h5, h6, p, img,
form, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
}
/*
img {
    width: 100%;
    height: 100%;
}*/

.unselectable {
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}

.container{
	margin-left: auto;
	margin-right: auto;
	width:900px;
	margin:0 auto;
}

/* NAVIGATION TOP BAR */
.navbar{
	display: inline-block;
	position: relative;
	background:#22416B;
	height:auto;
	border-radius:10px;
	width:100%;
	max-width: 900px;

}
.navbar-item{
	color:white;
	font-weight: bold;
	margin:10px;	
}
.left{
	float:left;
}
.right{
	float:right;
}


/* WALL APP */

#app{
	display:block;
	position: relative;
	margin:0 auto;
	margin-top:5px;
	width:900px;
	height:auto;
}

#wall{
	float:left;
	position: relative;
	width:800px;
	height:500px;
	/*background-color: rgba(37, 218, 218, 0.2);*/
	border-radius: 25px;
	overflow: hidden;
}


#background{
	position: relative;
	max-width:100%;
	max-height:100%;
	border-radius: 25px;
	opacity:0.2;
	
}

.frames{
	max-width:100%;
	max-height:100%;
	position: absolute;
	top:0;
	left:0;
}

/* SIDEBAR PANEL */
#panel{
	float:left;
	background:#22416B;
	height:500px;
	border-radius:10px;
	width:90px;
	margin-left:10px;
}
.panel-button{
	float:left;
	margin:5px;
	margin-left:20px;
	text-align: center;
	font-weight: bold;
	color:white;
	border-radius: 10px;
}

.panel-item{
	margin: 4px 5px 5px 4px;
	height:auto;
	border:1px solid white;
	border-radius: 10px;
	font-size: 10px;
	color:white;
	font-weight:bold;
	text-align: center;
	padding-top:30px;
	padding-bottom:30px;
	cursor:pointer;
}
.panel-item:hover{
	box-shadow:5px 5px 5px rgba(37, 218, 218, 0.5);
}


/* THE BORDER */
.border{
	position: absolute;
	background: white;
	cursor:move;
}
.border:hover{
	box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
}


/* FRAME */
.floating-frame{
	position:absolute;
	visibility: "hidden"
}

.placed-frame{
	position:absolute;
	background: white;
	overflow:hidden;
}

.placed-frame:hover{
	box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
}


/* THE PRINT */
.placed-print{
	position:absolute;
	height:100%;
	width:auto;
	cursor:pointer;
}

#adjust-print{
	opacity:0.8;
}

.resize-icon{
	position: absolute;
	left:-10px;
	top:-10px;
	width:20px;
	height:20px;
	border-radius: 10px;
	opacity:0.9;
	cursor:pointer;
}

/* BIG MENU */
#overlay{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.big-menu{
	position:absolute;
	top:20px;
	left:20px;
	margin-top:20px;
	width:750px;
	height:450px;
	border-radius: 25px;
}

.big-menu-items{
	width:120px;
	height:120px;
	margin:10px;
}


/* BOTTOM PANEL */
#bottom-panel{
	float:left;
	background: #22416B;
	width:900px;
	height:25px;
	margin-top:5px;
	border-radius: 25px;
}